@using System.Data




<h2>Customers</h2>

this is testing data
<div>
    <table>
        <tr><td>Companyname</td><td>ContactName</td></tr>
       
        @{
            DataTable dt = (DataTable) ViewData["dt"];
        }
    </table>

</div>






