@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cst College</h1>
    <p class="lead">Welcome Cstcollege.</p>
    <p><a href="https://cstcollege.ca" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Cstcollege welcome,Cstcollege welcomeCstcollege welcomeCstcollege welcomeCstcollege welcomeCstcollege welcomeCstcollege welcomeCstcollege welcomeCstcollege welcome
        </p>
        
    </div>
    
</div>